
<div class="container-fluid">


    <div class="row">
        <div class="col-md-9">
            <div class="row"> 
                <ng-container *ngFor="let p of movies">
                <div class="col-md-3" *ngIf="p.movieType1=='bollywood'">
                    <div class="card">
                        <!-- <div class="card-header"> -->
                            <img [src]="p.movieImage" class="=card-img-top" height="200" width="250">
                        <!-- </div> -->
                        <div class="card-body">
                            <h4 class="card-text" style="text-decoration:none;" routerLink="/home/review2">{{p.movieName}}</h4>
                            <p class="card-text">{{p.movieType}}</p>
                            <button class="card-text">{{p.movierating}}</button>
                        </div>
                        <div class="card-footer">
                          <a (click)="addReview(p.movieId)" class="btn btn-primary">Add Review</a>
                        </div>                   
                    </div><br><br>
                </div>
            </ng-container>
            </div>
        </div>
        
        <div class="col-md-3 hello">
            <h4 class="hi">All Time Favourite Movies</h4><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Dangal</p>
                </div>
                <div class="col-md-6">
                    <p>****4.79</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Jawan</p>
                </div>
                <div class="col-md-6">
                    <p>****4.81</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Sultan</p>
                </div>
                <div class="col-md-6">
                    <p>****4.82</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Bobby</p>
                </div>
                <div class="col-md-6">
                    <p>****4.89</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Swades</p>
                </div>
                <div class="col-md-6">
                    <p>****4.41</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Salaam Bombay!</p>
                </div>
                <div class="col-md-6">
                    <p>****4.1</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Gully Boy(2019)</p>
                </div>
                <div class="col-md-6">
                    <p>****4.29</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Hera Pheri</p>
                </div>
                <div class="col-md-6">
                    <p>****4.22</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Ardh Sathya(1983)</p>
                </div>
                <div class="col-md-6">
                    <p>****4.32</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Bhaag Milka Singh</p>
                </div>
                <div class="col-md-6">
                    <p>****4.49</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Dhobi Ghat</p>
                </div>
                <div class="col-md-6">
                    <p>****4.12</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Kati Patang</p>
                </div>
                <div class="col-md-6">
                    <p>****4.59</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Black Friday</p>
                </div>
                <div class="col-md-6">
                    <p>****4.1</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Aarth</p>
                </div>
                <div class="col-md-6">
                    <p>****4.12</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Dhoom</p>
                </div>
                <div class="col-md-6">
                    <p>****4.54</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Kahani</p>
                </div>
                <div class="col-md-6">
                    <p>****4.43</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Thappad</p>
                </div>
                <div class="col-md-6">
                    <p>****4.8</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Dhabang</p>
                </div>
                <div class="col-md-6">
                    <p>****4.65</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Bandit Queen</p>
                </div>
                <div class="col-md-6">
                    <p>****4.42</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <p>Udaan</p>
                </div>
                <div class="col-md-6">
                    <p>****4.44</p>
                </div>
            </div><br>
        </div>
    </div>
    </div>
   
  
   